body {
  background-image: url('https://img.freepik.com/free-vector/hand-painted-background-violet-orange-colours_23-2148427578.jpg?w=2000');
  background-repeat: no-repeat;
  background-size: cover;
}
.button:hover {
  background-color: red;
  color: white;
}
